<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>用户信息查询</title>-->
<!--</head>-->
<!--<body>-->
<!--用户信息查询-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic DataGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="${baseUrl}/js/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/js/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="${baseUrl}/cs/demo.css">
    <script type="text/javascript" src="${baseUrl}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${baseUrl}/js/jquery.easyui.min.js"></script>
</head>
<body>
<h2>Basic DataGrid</h2>
<p>The DataGrid is created from markup, no JavaScript code needed.</p>
<div style="margin:20px 0;"></div>
${baseUrl } 姓名：${name }
<table class="easyui-datagrid" title="Basic DataGrid" style="width:700px;height:250px"
       data-options="singleSelect:true,collapsible:true,url:'${baseUrl}/user/queryUserData',method:'get'">
    <thead>
    <tr>
        <th data-options="field:'id',width:80">ID</th>
        <th data-options="field:'name',width:100">姓名</th>
        <th data-options="field:'age',width:80,align:'right'">年龄</th>
        <th data-options="field:'sex',width:80,align:'right'">性别</th>
    </tr>
    </thead>
</table>

</body>
</html>